{% extends ':Default:basic.html.twig' %}

{% block body %}

    <div id="pageblog" class="container col-xs-12 text-center">
        <h1>Découvrez tous nos article !</h1>
        <br>
<div class="col-xs-6 col-xs-offset-3">
    {% for article in articles %}
        <div id="divarticle" class="row text-justify">
            <h2><a href="{{ path('onearticle', { 'id': article.id }) }}">{{ article.titre }}</a></h2>
            <img src="/imagesarticles/{{ article.image }}" class="img-responsive" alt="">
            <p>{{ article.description }}</p>
            <p id="autdate"> Publié par : {{ article.utilisateur.username }} - le {{ article.date|date('d/m/Y') }}</p>
            <br>
            <a id="btnartcpt" href="{{ path('onearticle', { 'id': article.id }) }}" class="btn btn-default col-xs-2 col-xs-offset-8"><span class="glyphicon  glyphicon glyphicon-chevron-right "></span> Article complet</a>
        </div>
            <br><br>
    {% endfor %}
</div>
    </div>
{% endblock %}