{% extends ':Default:basic.html.twig' %}



{% block body %}

    <div id="bienv" class="jumbotron col-xs-12 text-center">
        <div class="text-center">
            <img id="logogd" src="{{ asset('image/Logo x300.png') }}"><br>
        </div>
        <div class="text-center">
            <h2>Bienvenue sur To You, To Do !</h2>
            <p>De l'Organisation à la Surprise, Votre événement comme Vous le rêvez</p>
        </div>
        <div class="btn-group text-center col-xs-12" role="group" id="btnsacc">
            <img src="{{ asset('image/Btn-assistant4.png') }}" class="img-circle lienacc">
            <img src="{{ asset('image/Btn-assistant3.png') }}" class="img-circle lienacc">
            <img src="{{ asset('image/Btn-assistant2.png') }}" class="img-circle lienacc">
                <a href="{{ path('eventcategorieslist') }}">
                <img src="{{ asset('image/Btn-assistant.png') }}" class="img-circle btn-default lienacc">
                </a>
                <a href="{{ path('articleslist') }}">
                    <img src="{{ asset('image/Btn-blog.png') }}" class="img-circle btn-default lienacc">
                </a>
            <img src="{{ asset('image/Btn-blog2.png') }}" class="img-circle lienacc">
            <img src="{{ asset('image/Btn-blog3.png') }}" class="img-circle lienacc">
            <img src="{{ asset('image/Btn-blog4.png') }}" class="img-circle lienacc">
            </div>
        </div>

    <div id="divblog" class="jumbotron col-xs-12">
        <div class="col-xs-12">
            <h2>Nos derniers articles</h2>

            <div class="row col-xs-12">
                {% for article in troisarticles %}
                <div class="col-lg-2 col-lg-offset-2 col-xs-12">
                    <a href="{{ path('article_show', { 'id': article.id }) }}" class="thumbnail">
                        <img src="/imagesarticles/{{ article.image }}" class="img-circle">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div id="divsondage" class="jumbotron col-xs-12">
        <div class="col-xs-12">
            <h2>Sondage<br><br></h2>


        </div>
    </div>

    <div id="divevents" class="jumbotron col-xs-12">
        <div class="col-xs-12">
            <h2>Organisez votre évènement<br><br></h2>
        </div>

        <div class="row col-xs-12">
            <div class="col-xs-4">
                <a href="#" class="thumbnail">
                    <img src="images/birthdays.jpg" class="img-circle">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="thumbnail">
                    <img src="images/birthdays.jpg" class="img-circle">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="thumbnail">
                    <img src="images/birthdays.jpg" class="img-circle">
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}