{% extends ':Default:basic.html.twig' %}



{% block body %}


    {#{% for article in range (3,0) %}#}
    {#{{ article }}#}
    {#<div class="row">#}
    {#<a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.titre }}</a>#}
    {#<img src="{{ asset('image/cake.png') }}" class="img-responsive" alt="...">#}
    {#<p>{{ article.description }}</p>#}
    {#<p> par {{ article.utilisateur }}, le {{ article.date|date('d/m/Y') }}</p>#}
    {#<br>#}
    {#</div>#}
    {#{% endfor %}#}


    <div id="bienv" class="jumbotron col-xs-12 text-center">
        <div class="text-center">
            <img id="logogd" src="{{ asset('image/Logo x300.png') }}"><br>
        </div>
        <div class="text-center">
            <h2>Bienvenue sur To You, To Do !</h2>
            <p>De l'Organisation à la Surprise, Votre événement comme Vous le rêvez</p>
        </div>
        <div class="text-center">
            <div class="col-xs-8 col-xs-offset-2" id="btnsacc">
                <a href="{{ path('eventcategorieslist') }}">Assistant</a>
                <a href="{{ path('articleslist') }}">Blog</a>
            </div>
        </div>
    </div>


    <div id="divblog" class="jumbotron col-xs-12">
        <div class="col-xs-12">
            <h2>Nos derniers articles</h2>

            <div class="row col-xs-12">
                {% for article in troisarticles %}
                <div class="col-lg-2 col-lg-offset-2 col-xs-12">
                    <a href="{{ path('article_show', { 'id': article.id }) }}" class="thumbnail">
                        N°{{ article.id }}<img src="/imagesarticles/{{ article.image }}" class="img-circle">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div id="divsondage" class="jumbotron col-xs-12">
        <div class="col-xs-12">
            <h2>Sondage<br><br></h2>


        </div>
    </div>

    <div id="divevents" class="jumbotron col-xs-12">
        <div class="col-xs-12">
            <h2>Organisez votre évènement<br><br></h2>
        </div>

        <div class="row col-xs-12">
            <div class="col-xs-4">
                <a href="#" class="thumbnail">
                    <img src="images/birthdays.jpg" class="img-circle">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="thumbnail">
                    <img src="images/birthdays.jpg" class="img-circle">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#" class="thumbnail">
                    <img src="images/birthdays.jpg" class="img-circle">
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}