{% extends ':Default:basic.html.twig' %}



{% block body %}

    <div id="bienv" class="jumbotron col-xs-12 text-center">
        <div class="text-center">
            <img id="logogd" src="{{ asset('image/Logo x300.png') }}"><br>
        </div>
        <div class="text-center">
            <h2>Bienvenue sur To You, To Do !</h2>
            <p>De l'Organisation à la Surprise, Votre événement comme Vous le rêvez</p>
        </div>
        <div class="btn-group text-center col-xs-12" role="group" id="btnsacc">
            <img src="{{ asset('image/Btn-assistant4.png') }}" class="img-circle lienacc">
            <img src="{{ asset('image/Btn-assistant3.png') }}" class="img-circle lienacc">
            <img src="{{ asset('image/Btn-assistant2.png') }}" class="img-circle lienacc">
                <a href="{{ path('eventcategorieslist') }}">
                <img src="{{ asset('image/Btn-assistant.png') }}" class="img-circle btn-default lienacc">
                </a>
                <a href="{{ path('articleslist') }}">
                    <img src="{{ asset('image/Btn-blog.png') }}" class="img-circle btn-default lienacc">
                </a>
            <img src="{{ asset('image/Btn-blog2.png') }}" class="img-circle lienacc">
            <img src="{{ asset('image/Btn-blog3.png') }}" class="img-circle lienacc">
            <img src="{{ asset('image/Btn-blog4.png') }}" class="img-circle lienacc">
            </div>
        </div>

    <div id="divblog" class="jumbotron col-lg-12 col-xs-12">

            <h2>Nos derniers articles</h2>
            <br>
                {% for article in troisarticles %}
                    <div id="divart3" class="col-lg-4 colt-xs-12 text-justify">
                    <a href="{{ path('onearticle', { 'id': article.id }) }}">
                            <div class="text-center"><img src="/imagesarticles/{{ article.image }}" class="img-circle">
                            <h4>{{ article.titre }}</h4></div>
                            <p>{{ article.description }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
<div>
   {% block sondage %}
     {% include ":Default:sondage.html.twig" %}
    {% endblock %}
</div>

    <div id="divevents" class="jumbotron col-lg-12 col-xs-12">

            <h2>Organisez votre évènement<br><br></h2>
        </div>

            <div class="col-lg-4 col-xs-12">
                <a href="#" class="thumbnail text-center">
                    <img src="{{ asset('image/image (2).jpeg') }}" class="img-circle">
                </a>
            </div>
            <div class="col-lg-4 col-xs-12">
                <a href="#" class="thumbnail">
                    <img src="{{ asset('image/image (8).jpg') }}" class="img-circle">
                </a>
            </div>
            <div class="col-lg-4 col-xs-12">
                <a href="#" class="thumbnail">
                    <img src="{{ asset('image/image (5).jpg') }}" class="img-circle">
                </a>
            </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}