{% extends ':Default:basic.html.twig' %}

{% block body %}

    <div id="pageblog" class="container col-xs-12 text-center">

            <div id="divarticle" class="col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1 text-justify">
                <h2>{{ article.titre }}</h2>
                <ul> Publié par {{ article.utilisateur.username }}, le {{ article.date|date('d/m/Y') }}</ul>
                <br>
                <img src="{{ article.image }}" class="img-responsive" alt="">
                <br>
                <p class="text-justify">{{ article.texte }}</p>
                <br>
                <div id="divcomart" class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
                <h2 class="text-center">Liste des commentaires :</h2>
                {% for commentaire in commentaires %}
                    <h3>{{ commentaire.titreC }}</h3>
                    <p>Posté le : {{ commentaire.dateC|date('d/m/Y') }}</p>
                    <p>par {{ commentaire.utilisateur.username }}</p>
                    <p>"{{ commentaire.texte }}"</p>
                    <hr>
                {% endfor %}
                </div>
                <br>
            <a id="btnlistart" href="{{ path('articleslist') }}"
               class="btn btn-default col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2"><span
                        class="glyphicon  glyphicon glyphicon-chevron-right "></span> Retour à la liste des articles</a>
        </div>

    </div>

{% endblock %}