{% extends ':Default:basic.html.twig' %}

{% block body %}

    <div id="pagetem" class="container col-xs-12 text-center">
        <div class="col-xs-6 col-xs-offset-3">

                <div id="divtem" class="row text-justify">
                    <h2>{{ temoignage.titreT }}</h2>
                    <p>En rapport avec l'évènement : {{ temoignage.evenement.nom }}</p><br>
                    <p>{{ temoignage.descriptionT }}</p><br>
                    <p id="autdatetem"><span class="glyphicon glyphicon glyphicon-menu-right"></span> Publié par : {{ temoignage.utilisateur.username }} - le {{ temoignage.dateT|date('d/m/Y') }}</p>
                    <br>
                    <a id="btntemcpt" href="{{ path('temoignageslist') }}" class="btn btn-default col-xs-2 col-xs-offset-8"><span class="glyphicon  glyphicon glyphicon-chevron-right "></span> Retour à la liste des temoignages</a>
                </div>
                <br><br>
        </div>
    </div>
{% endblock %}