<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
    <title>{% block title %}Espace Administrateur de TYTD{% endblock %}</title>
    <a id="haut"></a>
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<header id="headerAdmin">

    <h1>Espace Administrateur <br> To You To Do</h1>

    <div id="clockbox"></div>

    <div class="btn-group  divine btn-group-justified" role="group" aria-label="...">

        <div class="btn-group ">
            <button type="button" class="btn un btn-lg dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Article <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('article_index') }}">Consulter la liste des articles</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('article_new') }}">Créer un nouvel article</a></li>

            </ul>
        </div>

        <div class="btn-group ">
            <a id= "acc" href="{{ path('accueilsite') }}" class="btn deux btn-lg"
               aria-haspopup="true"
               aria-expanded="false">
                Vue Visiteur </a>
        </div>

        <div class="btn-group ">
            <button type="button" class="btn trois btn-lg dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Commentaire <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('commentaire_index') }}">Consulter la liste des commentaires</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('commentaire_new') }}">Créer un nouveau commentaire</a></li>
            </ul>
        </div>
    </div>

    <div class="btn-group btn-group-justified divine" role="group" aria-label="...">
    <div class="btn-group ">
            <button type="button" class="btn trois  btn-lg dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Utilisateur <span class="caret"></span>
            </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('utilisateur_index') }}">Consulter la liste des utilisateurs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('utilisateur_new') }}">Créer un nouvel utilisateur</a></li>
        </ul>
        </div>

        <div class="btn-group ">
            <button type="button" class="btn un btn-lg dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Evénement <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('evenement_index') }}">Consulter la liste des événements</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('evenement_new') }}">Créer un nouvel événement</a></li>
            </ul>
        </div>

        <div class="btn-group ">
            <button type="button" class="btn trois btn-lg dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Catégorie <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('categorie_index') }}">Consulter la liste des catégories</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('categorie_new') }}">Créer un nouvelle catégorie</a></li>
            </ul>
        </div>

        <div class="btn-group ">
            <button type="button" class="btn un btn-lg dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Témoignage <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('temoignage_index') }}">Consulter la liste des témoignages</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ path('temoignage_new') }}">Créer un nouveau témoignage</a></li>
            </ul>
        </div>

    </div>


    <div>
    </div>
</header>


<body id="bodyAdmin">
{% block body %}{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('js/bootstrap.js') }}"></script>

<footer class="scroll-top page-scroll">
    <a class="btn btn-primary" href="#haut">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </a>
</footer>


<script type="text/javascript">
    function GetClock(){
        var d=new Date();
        var nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear();
        if(nyear<1000) nyear+=1900;
        var nhour=d.getHours(),nmin=d.getMinutes();
        if(nmin<=9) nmin="0"+nmin

        document.getElementById('clockbox').innerHTML=""+ndate+"."+(nmonth+1)+"."+nyear+" "+nhour+":"+nmin+"";
    }

    window.onload=function(){
        GetClock();
        setInterval(GetClock,1000);
    }
</script>



</body>
</html>