{% block nav %}

    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div><a class="navbar-brand" href="#"><img id="logonav" alt="Brand" src="{{ asset('image/Logo x48.png') }}"></a></div>
            <ul class="nav navbar-nav">

                <li><a href="{{ path('article_index') }}" id ="blog">Blog : articles</a></li>
                <li class="dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" id="event">Evénements<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('evenement_index') }}">Liste des événements</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('evenement_show', {'id': '1'}) }}">Anniversaires</a></li>
                        <li><a href="{{ path('evenement_show', {'id': '2'}) }}">Mariages</a></li>
                        <li><a href="{{ path('evenement_show', {'id': '3'}) }}">Voyages</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('temoignage_index') }}" id="temoignagess">Témoignages</a></li>
                <li><a href="#">Partenaires</a></li>
            </ul>
        </div>
    </div>


</nav>




{% endblock %}