{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div class="bobody">
        <h2>Témoignages</h2>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr class="text-uppercase" >
                    <td>Voir</td>
                    <td>titre</td>
                    <td>texte</td>
                    <td>description</td>
                    <td>événement</td>
                    <td>date de publication</td>
                    <td>auteur</td>
                    <td>supprimer/ modifier</td>
                </tr>
                </thead>
                <tbody>
                {% for temoignage in temoignages %}
                    <tr>
                        <td><li><a href="{{ path('temoignage_show', { 'id': temoignage.id }) }}">N°{{ temoignage.id }}</a></li></td>
                        <td>{{ temoignage.titre_t }}</td>
                        <td>{{ temoignage.texteT }}</td>
                        <td>{{ temoignage.descriptionT }}</td>
                        <td>{{ temoignage.evenement.nom }}</td>
                        <td>{{ temoignage.dateT|date('d-m-Y') }}</td>
                        <td>{{ temoignage.utilisateur.username }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('temoignage_show', { 'id': temoignage.id }) }}">Voir</a>
                                </li>
                                <li>
                                    <a href="{{ path('temoignage_edit', { 'id': temoignage.id }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul>
            <li>
                <a href="{{ path('temoignage_new') }}">Créer un témoignage</a>
            </li>
        </ul>

    </div>
{% endblock %}