{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div class="bobody">
        <h2>Témoignage N°{{ temoignage.id }} </h2>


        <table>
            <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ temoignage.titreT }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ temoignage.texteT }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ temoignage.descriptionT }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ temoignage.utilisateur.username }}</td>
            </tr>
            <tr>
                <th>Evenement</th>
                <td>{{ temoignage.evenement.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if temoignage.dateT %}{{ temoignage.dateT|date('d-m-Y') }}{% endif %}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <ul>
            <li>
                <a href="{{ path('temoignage_index') }}">Retour à la liste</a>
            </li>
            <br>
            <li>
                <a href="{{ path('temoignage_edit', { 'id': temoignage.id }) }}">Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}<br>
                <input type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        </ul>
        <hr>
    </div>
{% endblock %}
