{% extends 'base.html.twig' %}

{% block body %}
    <h1>Todolists list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todolist in todolists %}
            <tr>
                <td><a href="{{ path('todolist_show', { 'id': todolist.id }) }}">{{ todolist.id }}</a></td>
                <td>{{ todolist.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('todolist_show', { 'id': todolist.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('todolist_edit', { 'id': todolist.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('todolist_new') }}">Create a new todolist</a>
        </li>
    </ul>
{% endblock %}
