{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <h1>To Do</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todolist.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ todolist.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('todolist_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('todolist_edit', { 'id': todolist.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
