{% extends 'admin/adminbase.html.twig' %}


    {% block body %}

        <h1>Categories list</h1>

        <table border 1px black>
            <thead>
            <tr>
                <td>ID</td>
                <td>titre</td>
                <td>texte</td>
                <td>description</td>
                <td>image</td>
                <td>catégorie</td>
                <td>date de publication</td>
                <td>auteur</td>
                <td>ACTIONS</td>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.texte }}</td>
                    <td>{{ article.description}}</td>
                    <td>{{ article.image }}</td>
                    <td>{{ article.categorie.nomCa }}</td>
                    <td>{{ article.date|date('d-m-Y') }}</td>
                    <td>{{ article.utilisateur.username }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('article_new') }}">Créer un article</a>
            </li>
        </ul>
    {% endblock %}


