{% extends ':Default:basic.html.twig' %}


    {% block body %}

        <section  class="rose">
            <div class="container-fluid">
                <div class="row">
                    <div class="jumbotron">
                        <h1> Liste des Articles</h1>
                    </div>
                </div>
            </div>
        </section>

            <div class="col-lg-12 text-center">

        {% for article in articles %}

            <section>

            <div class="success" id="about">

                <div class="col-xs-8 col-lg-offset-2">

                    <h2 class="post-title"><span class="post-type"><i class=""></i></span>
                    <a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.titre }}</a></h2>
                <br>
                <div class="post-meta">
                    <span class="meta-author"><i class="glyphicon glyphicon-user"></i><a href="#"></a></span>
                    <span class="meta-date"><i class="glyphicon glyphicon-time"></i>{% if article.date %}
                                    {{ article.date|date('Y-m-d') }}
                                {% endif %}</span>
                    <span class="meta-categories"><i class="glyphicon glyphicon-folder-open"></i><a href="#"></a></span>
                    <span class="meta-comment"><i class="glyphicon glyphicon-pencil"></i><a href="#">comments</a></span>
                </div>
                <div class="post-content">
                    <p>{{ article.description }}</p>
                    <a href="{{ path('article_show', { 'id': article.id }) }}" class="post-read-more button color small">Article complet</a>
                </div><!-- End post-content -->
                 </div><!-- End post-inner -->

            </div>

                </section>
        {% endfor %}


            </div>

    {% endblock %}
