{% extends 'admin/adminbase.html.twig' %}


    {% block body %}
        <div class="bobody">
            <h2>Publications</h2>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-uppercase" >
                        <td>voir l'article</td>
                        <td>titre</td>
                        <td>texte</td>
                        <td>description</td>
                        <td>image</td>
                        <td>catégorie</td>
                        <td>date de publication</td>
                        <td>auteur</td>
                        <td>options</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td><li><a href="{{ path('article_show', { 'id': article.id }) }}">N°{{ article.id }}</a></li></td>
                            <td>{{ article.titre }}</td>
                            <td class="text-justify">{{ article.texte }}</td>
                            <td class="text-justify">{{ article.description }}</td>
                            <td><img src="{{ article.image }}"></td>
                            <td>{{ article.categorie.nomCa }}</td>
                            <td>{{ article.date|date('d-m-Y') }}</td>
                            <td>{{ article.utilisateur.username }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('article_show', { 'id': article.id }) }}">Voir</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('article_edit', { 'id': article.id }) }}">Modifier</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul>
                <li>
                    <a href="{{ path('article_new') }}">Créer un article</a>
                </li>
            </ul>

        </div>
    {% endblock %}


