{% extends 'vuesclient/Default/basic.html.twig' %}


    {% block body %}
        <div class="container">

            <div class="blog-header">
                <h1 class="blog-title">Liste des Articles</h1>
                <p class="lead blog-description">Parcourez tous les articles de notre blog... </p>
            </div>


            <div class="row">

                <div class="col-sm-12 blog-main">

                    {% for article in articles %}
                        <div class="blog-post">
                            <h2 class="blog-post-title">{{ article. }}</h2>
                            <p class="blog-post-meta">Posté le {% if article.dateT %}
                                    {{ article.da|date('Y-m-d') }}
                                {% endif %} Par {{ article.utilisateur }}</p>
                            <p>En quelques mots ... <br>{{ article.de }}</p>

                            <a href="{{ path('article_show', { 'id': article.id }) }}">
                                Plus de détails</a>
                            <hr>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>


    {% endblock %}
