{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div class="bobody">
        <h2>Rédaction d'un nouvel article</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_row(form.image) }}
        <input type="submit" value="Créer"/>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('article_index') }}">Retour à la liste</a>
            </li>
        </ul>
    </div>
{% endblock %}
