{% extends 'admin/adminbase.html.twig' %}

{% block body %}

    <div class="bobody">
        <h2>Fiche Catégorie {{ categorie.id }}</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr class="text-uppercase">
                    <td>Nom</td>
                    <td>Image</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{ categorie.nomCa }}</td>
                    <td>{{ categorie.imageCa }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="btn-group  divine btn-group-justified" role="group" aria-label="...">
            <div class="btn-group ">
                <a href="{{ path('categorie_index') }}">
                    Retour à la liste </a>
            </div>
            <div class="btn-group ">
                <a href="{{ path('categorie_edit', { 'id': categorie.id } ) }}">Modifier</a>
            </div>
        </div>
        <div>
            <ul>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
