{% extends ':Default:basic.html.twig' %}
{% block nav %}{% endblock %}

{% block body %}

    <div class="divcontact col-lg-12  col-xs-12">
        <div class="divformcontact col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
            <h1 class="text-center">Ma 'To Do List'</h1>

            <p>Créée avec l'assistant : </p><br>
            <img height="200" src={{ asset('image/Logo x200.png') }}/>


            <div>
            <table>
                <tbody>
                <tr>
                    <th><label>Username</label></th>
                    <td><label class="taillefcontact">{{ ev }}</label></td>
                </tr>
                <tr>
                    <th><label>Prenom</label></th>
                    <td><label class="taillefcontact">{{ contact.prenom }}</label></td>
                </tr>
                <tr>
                    <th><label>Nom</label></th>
                    <td><label class="taillefcontact">{{ contact.nom }}</label></td>
                </tr>
                <tr>
                    <th><label>Mail</label></th>
                    <td><label class="taillefcontact">{{ contact.mail }}</label></td>
                </tr>
                <tr>
                    <th><label>Adresse</label></th>
                    <td><label class="taillefcontact">{{ contact.adresse }}</label></td>
                </tr>
                <tr>
                    <th><label>Code postal</label></th>
                    <td><label class="taillefcontact">{{ contact.codepostal }}</label></td>
                </tr>
                <tr>
                    <th><label>Ville</label></th>
                    <td><label class="taillefcontact">{{ contact.ville }}</label></td>
                </tr>
                <tr>
                    <th><label>Pays</label></th>
                    <td><label class="taillefcontact">{{ contact.pays }}</label></td>
                </tr>
                <tr>
                    <th><label>Type d'évenement</label></th>
                    <td><label class="taillefcontact">{{ contact.typeevent }}</label></td>
                </tr>
                <tr>
                    <th><label>Message</label></th>
                    <td><label class="taillefcontact">{{ contact.message }}</label></td>
                </tr>
                </tbody>
            </table>
        </div>

            <table class="table table-bordered">
                <thead>
                <tr class="text-uppercase">
                    <td>Nom</td>
                    <td>Evenements</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{ todolist.nom }}</td>
                    <td>{% for evenement in todolist.evenements %}
                            {{ evenement.nom }}<br>
                        {% endfor %}</td>
                </tr>
                </tbody>
            </table>





    </div>



    {% block footerblock %}{% endblock %}
    </div>
{% endblock %}
