{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div class="bobody">
        <h2>Fiche événement</h2>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr class="text-uppercase">
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th>To Do's</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>{{ evenement.nom }}</td>
                    <td>{{ evenement.categorie.nomCa }}</td>
                    <td>{{ evenement.utilisateur.username }}</td>
                    <td>{% if evenement.dateE %}{{ evenement.dateE|date('Y-m-d') }}{% endif %}</td>
                    <td>{% for td in evenement.todolists %}  {{ td.nom }}<br>
                        {% endfor %}</td>
                </tr>


                </tbody>
            </table>

            <div class="btn-group  divine btn-group-justified" role="group" aria-label="...">
                <div class="btn-group ">
                    <a href="{{ path('evenement_index') }}">
                        Retour à la liste </a>
                </div>
                <div class="btn-group ">
                    <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Modifier</a>
                </div>
            </div>
            <div>
            <br>
            <ul>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
            </div>
        </div>
    </div>

{% endblock %}


