{% extends 'admin/adminbase.html.twig' %}

    {% block body %}
        <div class="bobody">
            <h2>Contacts</h2>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-uppercase" >
                        <td>ID</td>
                        <td>Prénom</td>
                        <td>Nom</td>
                        <td>Email</td>
                        <td>Adresse</td>
                        <td>Code Postal</td>
                        <td>Ville</td>
                        <td>Pays</td>
                        <td>Type d'Evenement</td>
                        <td>Message</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td><a href="{{ path('contactAdmin_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                            <td>{{ contact.prenom }}</td>
                            <td>{{ contact.nom }}</td>
                            <td>{{ contact.mail }}</td>
                            <td>{{ contact.adresse }}</td>
                            <td>{{ contact.codepostal }}</td>
                            <td>{{ contact.ville }}</td>
                            <td>{{ contact.pays }}</td>
                            <td>{{ contact.typeevent }}</td>
                            <td>{{ contact.message }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


{% endblock %}
