{% extends ':Default:basic.html.twig' %}
{% block nav %}{% endblock %}

{% block body %}
    <div>
    <h1>Contact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ contact.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.nom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ contact.mail }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ contact.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ contact.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ contact.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ contact.pays }}</td>
            </tr>
            <tr>
                <th>Typeevent</th>
                <td>{{ contact.typeevent }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
        </tbody>
    </table>

    {% block footerblock %}{% endblock %}
    </div>
{% endblock %}
