{% extends ':Default:basic.html.twig' %}
{% block nav %}{% endblock %}

{% block body %}

<div class="divcontact col-lg-12  col-xs-12">
    <div class="divformcontact col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
        <h1 class="text-center">Besoin de nous contacter, c'est facile !</h1>

    <table>
        <tbody>
            <tr>
                <th><label>Id</label></th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th><label>Prenom</label></th>
                <td>{{ contact.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.nom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ contact.mail }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ contact.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ contact.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ contact.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ contact.pays }}</td>
            </tr>
            <tr>
                <th>Typeevent</th>
                <td>{{ contact.typeevent }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
    {% block footerblock %}{% endblock %}
    </div>
{% endblock %}
